:root {
  --white-01: #ffffff;
  --white-02: #ebebeb;
  --green-01: #b5cc22;
  --green-02: #677510;

  --main-background: var(--white-01, #ffffff);
  --header-text: var(--white-01, #ffffff);
  --header-background: var(--white-01, #ffffff);
  --header-nav-background: var(--green-01, #b5cc22);
  --header-text-active: var(--green-02, #677510);
  --header-border-color: var(--white-02, #ebebeb);
  --header-button-color: var(--white-01, #ffffff);
  --header-button-text: var(--green-01, #b5cc22);
  --header-icon: var(--green-01, #b5cc22);

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
